footer {
    width: 100%;
    height: 300px;
    display: flex;
    background-image: url(https://atikle.github.io/resource/background/background-1.webp);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
}

.footer-container-1 {
    width: 150px;
    padding-top: 100px;
    padding-left: 10vw;
}